button.btn {
	margin-left: 8px;
}
.dragandrophandler {
	margin: auto;
	margin-top: 30px;
    position: relative;
    min-height: 100px;
    max-height: 189px;
    min-width: 100px;
    max-width: 285px;
    width: inherit;
    border-radius: 6px;
/*     background-color: #FDFDFD; */
	background-color:#F5F5F5;
    border: 1px dashed #CCC;
    padding: 20px;
}
.progressBar {
    width: 260px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
}
 
.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0ba1b5; border-radius: 3px; 
}
.statusbar
{
    border-top:1px solid #A9CCD1;
    min-height:25px;
    width:100%;
    padding:10px 10px 0px 10px;
    vertical-align:top;
}
.statusbarDiv{
	margin: auto;
    width: 785px;
	margin-top:30px; 
}
.statusbar:nth-child(odd){
    background:#EBEFF0;
}
.filename{
	display:inline-block;
	vertical-align:top;
	width:275px;
}
.filesize{
	display:inline-block;
	vertical-align:top;
	color:#30693D;
	width:105px;
	margin-left:10px;
	margin-right:5px;
}
.abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
    }
.detail{
    position: relative;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.06);		
}
.jFiler-item-trash-action:hover {
    cursor: pointer;
    color: #d9534f;
}
.info{
    font-size: 12px;
    color: #777;
}
.fileTitle{
	margin-top:10px; 
	float: center;
}
.master {
	width : 220px;
	display: inline-block;
    margin: 0 auto 25px 10px;
    padding: 15px;
    height: 125px;
    color: #97A1A8;
    background: #F9FBFE;
    border: 2px dashed #C8CBCE;
    text-align: center;
    -webkit-transition: box-shadow 0.3s,
                        border-color 0.3s;
    -moz-transition: box-shadow 0.3s,
                        border-color 0.3s;
    transition: box-shadow 0.3s,
                        border-color 0.3s;
}
#btnArea{
	margin-top: 30px;
}