<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="VirtualBusiness" packages="tw.com.aber">
	
	<Appenders>
	<Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %c:%M:%L %t %m%n" charset="UTF-8"/>
    </Console>
    <RollingFile name="vbRFLog" append="true" fileName="/data/logs/VirtualBusiness/VirtualBusiness.log"
    	filePattern="/data/logs/VirtualBusiness/$${date:yyyy-MM}/VirtualBusiness-%d{yyyy-MM-dd}-%i.log.gz">>
      <PatternLayout>
        <Pattern>%d %p %c:%L %t %m%n</Pattern>
        <charset>UTF-8</charset>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="7"/>
        <SizeBasedTriggeringPolicy size="20 MB"/>
      </Policies> 
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="vbRFLog"/>
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>